body {
  display: flex;
  /* background-image: url('https://media.giphy.com/media/YbS3KkZSFGUkB4XO1X/giphy.gif');*/
  background-image: url('https://media.giphy.com/media/11i03wSzIuNXiw/giphy.gif?cid=790b7611yd2gkufl4s44jalccadekzsbq2wbrrbampgerukv&ep=v1_gifs_search&rid=giphy.gif&ct=g');
  background-size: cover; /* Ensure the image covers the entire background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "DM Mono", monospace;
  font-weight: 300;
  color: white;
  text-align: center;
  overflow: auto;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.container {
  /* background-color: rgba(4, 82, 95, 0.8);  Metallic background color with 80% opacity */
  background-image: url('https://media.giphy.com/media/jeMmNKhDE1dJjAvpYU/giphy.gif?cid=790b7611bx9ykedld1628yq1xey9zo97odgs4likva2keg10&ep=v1_gifs_search&rid=giphy.gif&ct=g');
  background-size: cover; /* Ensure the image covers the entire background */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the image */ 
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(255, 0, 0);
  margin-bottom: 20px;
  position: relative;
  opacity: 0.86; /* Adjust the opacity value as needed */
}

.text-input {
  position: relative;
  margin-top: 50px;
  width: 100%;
}

.text-input input[type="text"] {
  display: inline-block;
  width: calc(100% - 120px);
  height: 40px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px 10px 10px 100px;
  transition: all 0.1s ease-out;
  background-color: rgba(255, 0, 0, 0.5); /* Red background color with 50% opacity */
  color: #ffffff; /* Text color in white */
}

.text-input input[type="text"] + label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  color: rgb(0, 0, 0); /* Text color in black */
  border-radius: 3px 0 0 3px;
  padding: 0 20px;
  background: radial-gradient(#ff0303, #ff5f03);
  transform: translateZ(0) translateX(0);
  transition: all 0.3s ease-in;
  transition-delay: 0.2s;
  width: 100px;
}

.text-input input[type="text"]:focus + label {
  transform: translateY(-120%) translateX(0%);
  border-radius: 3px;
  transition: all 0.1s ease-out;
}

.text-input input[type="text"]:focus {
  padding: 10px;
  transition: all 0.3s ease-out;
  transition-delay: 0.2s;
}

.neon__button button {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  margin: 20px 0;
  color: #ffffff; /* Button text color in white */
  background-color: #ff0000; /* Red background color */
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 30px;
  font-size: 1.5em;
}

.neon__button button:hover {
  color: #ff0000; /* Button text color on hover in red */
  background-color: transparent; /* Transparent background color on hover */
  box-shadow: 0 0 5px #5c4a4a, 0 0 25px #f3ea67, 0 0 50px #ffbb00, 0 0 200px #ffd900; /* Red box shadow on hover */
}

.neon__button button span {
  position: absolute;
  display: block;
}

.neon__button button span:nth-child(1),
.neon__button button span:nth-child(2),
.neon__button button span:nth-child(3),
.neon__button button span:nth-child(4) {
  position: absolute;
  display: block;
  width: 100%;
  height: 7px;
  background: linear-gradient(90deg, transparent, #740202, #e46262);
}

.neon__button button span:nth-child(1) {
  top: 0;
  left: -100%;
  animation: animate1 1s linear infinite;
}

.neon__button button span:nth-child(2) {
  top: -100%;
  right: 0;
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

.neon__button button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

.neon__button button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

.quizcontainer {
  color: black; /* Set text color for quiz container */
}

@keyframes animate1 {
  0%, 100% {
      left: -100%;
  }
  50%, 75% {
      left: 100%;
  }
}

@keyframes animate2 {
  0%, 100% {
      top: -100%;
  }
  50%, 75% {
      top: 100%;
  }
}

@keyframes animate3 {
  0%, 100% {
      right: -100%;
  }
  50%, 75% {
      right: 100%;
  }
}

@keyframes animate4 {
  0%, 100% {
      bottom: -100%;
  }
  50%, 75% {
      bottom: 100%;
  }
}